<h3>Invite an Accelerator or Investor</h3>

<br>
<br>

<div class="container">

<form class="form-group" action="index.html" method="post">
  <!-- Org Name -->
  <div class="form-group row">
    <label class="col-lg-2 col-lg-offset-3 col-form-label">Organization Name</label>
    <div class="col-lg-7">
      <input class="form-control" type="text" name="" placeholder="Enter an organization name">
    </div>
  </div>
  <!-- Location -->
  <div class="form-group row">
    <label class="col-lg-2 col-lg-offset-3 col-form-label">Location</label>
    <div class="col-lg-7">
      <input class="form-control" type="text" name="" placeholder="Enter a location">
    </div>
  </div>
  <!-- Year Founded -->
  <div class="form-group row">
    <label class="col-lg-2 col-lg-offset-3 col-form-label">Year Founded</label>
    <div class="col-lg-7">
      <input class="form-control" type="text" name="" placeholder="Enter the year founded">
    </div>
  </div>
  <!-- Contact Name -->
  <div class="form-group row">
    <label class="col-lg-2 col-lg-offset-3 col-form-label">Contact Name</label>
    <div class="col-lg-7">
      <input class="form-control" type="text" name="" placeholder="Enter a contact name">
    </div>
  </div>
  <!-- Contact Email -->
  <div class="form-group row">
    <label class="col-lg-2 col-lg-offset-3 col-form-label">Contact Email</label>
    <div class="col-lg-7">
      <input class="form-control" type="text" name="" placeholder="Enter a contact email">
    </div>
  </div>
  <!-- Contact Phone -->
  <div class="form-group row">
    <label class="col-lg-2 col-lg-offset-3 col-form-label">Contact Phone</label>
    <div class="col-lg-7">
      <input class="form-control" type="text" name="" placeholder="Enter a contact phone">
    </div>
  </div>
  <!-- Emphasized Industries -->
  <div class="form-group row">
    <label class="col-lg-2 col-lg-offset-3 col-form-label">Emphasized Industries</label>
    <div class="col-lg-7">
      <input class="form-control" type="text" name="" placeholder="Enter the emphasized industries">
    </div>
  </div>
  <!-- Team Name -->
  <div class="form-group row">
    <label class="col-lg-2 col-lg-offset-3 col-form-label">Team</label>
    <div class="col-lg-7">
      <input class="form-control" type="text" name="" placeholder="Enter a team name">
    </div>
  </div>
  <!-- Logo Upload -->
  <div class="form-group row">
    <label class="col-lg-2 col-lg-offset-3 col-form-label" for="Image Logo">File Input</label>
    <input type="file" class="form-control-file col-lg-7">
  </div>
  <br>
  <!-- Submit button -->
  <div class="form-group row">
    <div class="col-lg-offset-6 col-lg-6">
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </div>
</form>

</div>
