<div id="container">
    <nav class="navbar navbar-default" [style.display]="!atLanding ? 'block' : 'none'">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" [routerLink]="['/']">OmniValley</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" [style.display]="loggedIn ? 'block' : 'none'">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a [routerLink]="['/account']">Your profile</a></li>
                <li role="separator" class="divider"></li>
                <li><a [routerLink]="['/settings']">Settings</a></li>
                <li><a [routerLink]="['/login']">Sign out</a></li>
              </ul>
            </li>
            <li><a [routerLink]="['/login']" [style.display]="!loggedIn ? 'block' : 'none'">Login</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- main app container -->
    <alert></alert>
    <div class="body">
        <router-outlet></router-outlet>
    </div>

    <!--[ footer ] -->
    <div id="footer" [style.display]="!atLanding ? 'block' : 'none'">
      <div class="container">
        <p id="copyright">OmniValley LLC © 2017</p>
      </div>
    </div>
    <div id="clear" style="clear:both;" [style.display]="!atLanding ? 'block' : 'none'"></div>
</div>
