<div class="container">


<h1 class="header">User Management</h1>



<br>

<!-- Accelerator list -->
<h3 class="header"></h3>
<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Position</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <!-- first user -->
    <tr *ngFor="let user of users">
        <td>{{user.username}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td><button class="btn btn-danger" type="button" name="button">Delete</button></td>
    </tr>
  </tbody>
</table>


</div>


<router-outlet></router-outlet>
