<div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Our Mission</h1>
    <p class="text-center">
    OmniValley is the way for sophisticated capital to be efficiently introduced to provenly vetted and incubated startup companies...
    </p>
</div>

<hr>

<div class="col-md-8 col-md-offset-2">
    <h1 class="text-center">Our Founders</h1>
    <p class="text-center">
        What motivated our founders to create OmniValley.
    </p>
    <div class="col-md-4 col-sm-4">
        <a href="https://www.linkedin.com/in/grady-buchanan-0b187148/">
            <img src="images/grady.jpg" class="profile" alt="Image of Grady Buchanan"/>
        </a>
        <h2 class="block-subheading text-center">Grady Buchanan</h2>
        <h3 class="block-subheading text-center">Chief Executive Officer</h3>
        <p class="text-center">
            Background information.
        </p>
    </div>
    <div class="col-md-4 col-sm-4">
        <a href="https://www.linkedin.com/in/zgenthe/">
            <img src="images/zack.jpg" class="profile" alt="Image of Zach Genthe"/>
        </a>
        <h2 class="block-subheading text-center">Zach Genthe</h2>
        <h3 class="block-subheading text-center">Chief Operation Officer</h3>
        <p class="text-center">
            Background information.
        </p>
    </div>
    <div class="col-md-4 col-sm-4">
        <a href="https://www.linkedin.com/in/taylorfahey/">
            <img src="images/taylor.jpg" class="profile" alt="Image of Taylor Fahey"/>
        </a>
        <h2 class="block-subheading text-center">Taylor Fahey</h2>
        <h3 class="block-subheading text-center">Chief Technology Officer</h3>
        <p class="text-center">
            Background information.
        </p>
    </div>
</div>
