<div class="Subhead mt-0 mb-0">
  <h2 class="Subhead-heading">Public profile</h2>
</div>
<div class="form-group">
  <label for="orgName">Organization name</label>
  <input type="text" class="form-control" id="orgName" [(ngModel)]="currentUser.orgName" #ctrl="ngModel">
</div>
<div class="form-group">
  <label for="location">Location</label>
  <input type="text" class="form-control" id="location" [(ngModel)]="currentUser.location" #ctrl="ngModel">
</div>
<div class="form-group">
  <label for="founded">Founded</label>
  <input type="text" class="form-control" id="founded" [(ngModel)]="currentUser.founded" #ctrl="ngModel">
</div>
<div class="form-group">
  <label for="contactName">Contact name</label>
  <input type="text" class="form-control" id="contactName" [(ngModel)]="currentUser.contactName" #ctrl="ngModel">
</div>
<div class="form-group">
  <label for="contactTitle">Contact title</label>
  <input type="text" class="form-control" id="contactTitle" [(ngModel)]="currentUser.contactTitle" #ctrl="ngModel">
</div>
<div class="form-group">
  <label for="contactEmail">Contact email</label>
  <input type="text" class="form-control" id="contactEmail" [(ngModel)]="currentUser.contactEmail" #ctrl="ngModel">
</div>
<div class="form-group">
  <label for="contactPhone">Contact phone</label>
  <input type="text" class="form-control" id="contactPhone" [(ngModel)]="currentUser.contactPhone" #ctrl="ngModel">
</div>
<div class="form-group">
  <label for="emphasizedIndustries">Emphasized industries</label>
  <input type="text" class="form-control" id="emphasizedIndustries" [(ngModel)]="currentUser.emphasizedIndustries" #ctrl="ngModel">
</div>
<div class="form-group">
  <label for="team">Team</label>
  <input type="text" class="form-control" id="team" [(ngModel)]="currentUser.team" #ctrl="ngModel">
</div>
<dt><label for="upload-logo">Logo</label></dt>
<dd>
  <img height="200" width="200">
  <div class="avatar-upload">
    <label class="position-relative btn button-change-avatar mt-3 width-full text-center">
      Upload new logo
      <input type="file" class="manual-file-chooser width-full height-full ml-0 js-manual-file-chooser js-avatar-field">
    </label>

  </div>
</dd>

<!--ACCELERATORS-->
<div class="form-group">
  <label for="cohorts">Cohorts</label>
  <input type="text" class="form-control" id="cohorts" [(ngModel)]="currentUser.cohorts" #ctrl="ngModel">
</div>
<div class="form-group">
  <label for="valueProp">Value proposition</label>
  <input type="text" class="form-control" id="valueProp" [(ngModel)]="currentUser.valueProp" #ctrl="ngModel">
</div>
<div class="form-group">
  <label for="raisingCohort">raisingCohort</label>
</div>
<div class="form-group">
  <label for="raisingGrads">raisingGrads</label>
</div>
<div class="form-group">
  <label for="raisingOther">raisingOther</label>
</div>
<div class="form-group">
  <label for="startupsFunded">Startups funded</label>
  <input type="text" class="form-control" id="startupsFunded" [(ngModel)]="currentUser.startupsFunded" #ctrl="ngModel">
</div>
<div class="form-group">
  <label for="startupExits">Startup Exits</label>
  <input type="text" class="form-control" id="startupExits" [(ngModel)]="currentUser.startupExits" #ctrl="ngModel">
</div>
<div class="form-group">
  <label for="exitValue">Exit value</label>
  <input type="text" class="form-control" id="exitValue" [(ngModel)]="currentUser.exitValue" #ctrl="ngModel">
</div>
<div class="form-group">
  <label for="fundingTotal">Funding total</label>
  <input type="text" class="form-control" id="fundingTotal" [(ngModel)]="currentUser.fundingTotal" #ctrl="ngModel">
</div>


<!--INVESTORS-->
<div class="form-group">
  <label for="orgType">Organization type</label>
  <input type="text" class="form-control" id="orgType" [(ngModel)]="currentUser.orgType" #ctrl="ngModel">
</div>
<div class="form-group">
  <label for="assetsUnderManagement">Assets under management</label>
  <input type="text" class="form-control" id="assetsUnderManagement" [(ngModel)]="currentUser.assetsUnderManagement" #ctrl="ngModel">
</div>
<div class="form-group">
  <label for="directInvestProgram">Direct investment program</label>
</div>
<div class="form-group">
  <label for="coInvestProgram">Co-investment program</label>
</div>
<div class="form-group">
  <label for="affiliates">Affiliates</label>
  <input type="text" class="form-control" id="affiliates" [(ngModel)]="currentUser.affiliates" #ctrl="ngModel">
</div>
<div class="form-group">
  <label for="cohorts">Cohorts</label>
  <input type="text" class="form-control" id="cohorts" [(ngModel)]="currentUser.cohorts" #ctrl="ngModel">
</div>
<div class="form-group">
  <label for="valueProp">Value proposition</label>
  <input type="text" class="form-control" id="valueProp" [(ngModel)]="currentUser.valueProp" #ctrl="ngModel">
</div>