<div class="Subhead mt-0 mb-0">
  <h2 class="Subhead-heading">Public profile</h2>
</div>
<form name="form" (ngSubmit)="f.form.valid && update()" #f="ngForm" novalidate>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !orgName.valid }">
    <label for="orgName">Organization name</label>
    <input type="text" class="form-control" name="orgName" [(ngModel)]="currentUser.orgName" #orgName="ngModel">
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !location.valid }">
    <label for="location">Location</label>
    <input type="text" class="form-control" name="location" [(ngModel)]="currentUser.location" #location="ngModel">
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !founded.valid }">
    <label for="founded">Founded</label>
    <input type="text" class="form-control" name="founded" [(ngModel)]="currentUser.founded" #founded="ngModel">
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !contactName.valid }">
    <label for="contactName">Contact name</label>
    <input type="text" class="form-control" name="contactName" [(ngModel)]="currentUser.contactName" #contactName="ngModel">
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !contactTitle.valid }">
    <label for="contactTitle">Contact title</label>
    <input type="text" class="form-control" name="contactTitle" [(ngModel)]="currentUser.contactTitle" #contactTitle="ngModel">
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !contactEmail.valid }">
    <label for="contactEmail">Contact email</label>
    <input type="text" class="form-control" name="contactEmail" [(ngModel)]="currentUser.contactEmail" #contactEmail="ngModel">
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !contactPhone.valid }">
    <label for="contactPhone">Contact phone</label>
    <input type="text" class="form-control" name="contactPhone" [(ngModel)]="currentUser.contactPhone" #contactPhone="ngModel">
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !emphasizedIndustries.valid }">
    <label for="emphasizedIndustries">Emphasized industries</label>
    <input type="text" class="form-control" name="emphasizedIndustries" [(ngModel)]="currentUser.emphasizedIndustries" #emphasizedIndustries="ngModel">
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !team.valid }">
    <label for="team">Team</label>
    <input type="text" class="form-control" name="team" [(ngModel)]="currentUser.team" #team="ngModel">
  </div>
  <dt><label for="upload-logo">Logo</label></dt>
  <dd>
    <img height="200" width="200">
    <div class="avatar-upload">
      <label class="position-relative btn button-change-avatar mt-3 width-full text-center">
        Upload new logo
        <input type="file" class="manual-file-chooser width-full height-full ml-0 js-manual-file-chooser js-avatar-field">
      </label>

    </div>
  </dd>

  <!--ACCELERATORS--><!--
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !cohorts.valid }">
    <label for="cohorts">Cohorts</label>
    <input type="text" class="form-control" name="cohorts" [(ngModel)]="currentUser.cohorts" #ctrl="ngModel">
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !valueProp.valid }">
    <label for="valueProp">Value proposition</label>
    <input type="text" class="form-control" name="valueProp" [(ngModel)]="currentUser.valueProp" #ctrl="ngModel">
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !raisingCohort.valid }">
      <input type="checkbox" name="raisingCohort" [(ngModel)]="currentUser.raisingCohort" #ctrl="ngModel">
      Raising for Cohort
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !raisingGrads.valid }">
      <input type="checkbox" name="raisingGrads" [(ngModel)]="currentUser.raisingGrads" #ctrl="ngModel">
      Raising for Graduates
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !raisingOther.valid }">
      <input type="checkbox" name="raisingOther" [(ngModel)]="currentUser.raisingOther" #ctrl="ngModel">
      Raising for Other
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !startupsFunded.valid }">
    <label for="startupsFunded">Startups funded</label>
    <input type="text" class="form-control" name="startupsFunded" [(ngModel)]="currentUser.startupsFunded" #ctrl="ngModel">
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !startupExits.valid }">
    <label for="startupExits">Startup Exits</label>
    <input type="text" class="form-control" name="startupExits" [(ngModel)]="currentUser.startupExits" #ctrl="ngModel">
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !exitValue.valid }">
    <label for="exitValue">Exit value</label>
    <input type="text" class="form-control" name="exitValue" [(ngModel)]="currentUser.exitValue" #ctrl="ngModel">
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fundingTotal.valid }">
    <label for="fundingTotal">Funding total</label>
    <input type="text" class="form-control" name="fundingTotal" [(ngModel)]="currentUser.fundingTotal" #ctrl="ngModel">
  </div>-->


  <!--INVESTORS-->
  <!--
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !orgType.valid }">
    <label for="orgType">Organization type</label>
    <input type="text" class="form-control" name="orgType" [(ngModel)]="currentUser.orgType" #ctrl="ngModel">
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !assetsUnderManagement.valid }">
    <label for="assetsUnderManagement">Assets under management</label>
    <input type="text" class="form-control" name="assetsUnderManagement" [(ngModel)]="currentUser.assetsUnderManagement" #ctrl="ngModel">
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !directInvestProgram.valid }">
      <input type="checkbox" name="directInvestProgram" [(ngModel)]="currentUser.raisingOther" #ctrl="ngModel">
      Direct investment program
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !coInvestProgram.valid }">
      <input type="checkbox" name="coInvestProgram" [(ngModel)]="currentUser.coInvestProgram" #ctrl="ngModel">
      Co-investment program
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !affiliates.valid }">
    <label for="affiliates">Affiliates</label>
    <input type="text" class="form-control" name="affiliates" [(ngModel)]="currentUser.affiliates" #ctrl="ngModel">
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !cohorts.valid }">
    <label for="cohorts">Cohorts</label>
    <input type="text" class="form-control" name="cohorts" [(ngModel)]="currentUser.cohorts" #ctrl="ngModel">
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !valueProp.valid }">
    <label for="valueProp">Value proposition</label>
    <input type="text" class="form-control" name="valueProp" [(ngModel)]="currentUser.valueProp" #ctrl="ngModel">
  </div>-->
  <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary" type="submit">Update profile</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  </div>
</form>