<div class="container">
  <div class="row" style="min-width: 525px;">
      <nav class="menu col-xs-3 col-md-2">
        <ul class="nav">
          <div class="menu-heading">
            Settings
          </div>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['profile']">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['account']">Account</a>
          </li>
        </ul>
      </nav>
      <div class="col-xs-9 col-md-10">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>

<!--
<div class="col-md-6 col-md-offset-3">
    <h1>Hi {{currentUser.firstName}}!</h1>
    <p>You're logged in with the MEAN Stack & Angular 2!!</p>
    <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user._id)">Delete</a>
        </li>
    </ul>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>-->